/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
    font-family: roboto;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    /* margin: 1vw 0; */
    background-color: white;
    position: fixed;
    width :98vw;
    padding: .5vw 1vw;


}
nav > img {
    width: 12vw;
    /* margin-left: 2vw */
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    width: 20vw;
    list-style-type: none;
}
li > a {
text-decoration: none;
color: #24292F;
font-size: 1vw;
 }

.landing {
    background-image: url(/images/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
 h1 { 
     font-size: 5vw;
     margin: 0;
 }
h2 {
    font-size: 1.5vw;
    
}
.info > h3 {
text-align: center;
font-size: 2vw;
/* text-decoration: underline;
text-decoration-color: #1AB16A;
text-decoration-skip-ink: none; */
/* display: flex;
justify-content: center; */
border-bottom: .25vw solid #1AB16A;
margin: 0 41vw;
padding-top: 2.5vh;
}
.promo  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    margin-bottom: 5vw;
    
}
.promo img {
    width: 6vw;
    height: auto;
}
.promo h4 {
    font-size: 1.5vw;
}
.promo p {
    font-size: 1.51vw;
}
.cards {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
width: 25vw;
text-align: center;
}
.cards >p {
    margin: 0 5vw;
    color: #888888
}
.cards h4 {
    color: #1AB16A;
    margin: 1vw 0;;
}
.footer{
    background-color: #1AB16A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 5vw;
    color :white;
    font-weight: bold;
    background-image: url(/images/spotify-icon-white.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center;
}
.end > h3 {
    /* text-decoration: underline; */
    /* font-size: 2.5rem; */
    /* text-decoration-skip-ink: none; */
    font-size: 2.5vw;
    border-bottom: .25vw solid white;;
    
}
.end > h4 {
    font-size: 1.75vw;
}
.end p {
    font-size: 1.25vw;
    width: 20vw;
}
.image1 {
    width: 7vw;
}
.image2 {
    width: 20vw;
}
.end {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    /* margin-bottom: 5vw; */
    /* width: 60vw; */
    

}
.spotify-logo {
/* display: flex;
flex-direction: row;
justify-content: center;
align-items: center; */
/* align-items: start; */
/* width: 25vw; */
}
/* .spotify-logo img {
    width: 10vw;
} */
.kanye {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* width: 40vw; */
/* height: auto; */
}
.kanye img {
width: 25vw;
height: auto; 
}